{# ===== Home page that displays the hikes ===== #}

{% extends "base.html.twig" %}

{% block title %}AssocRando - {{ hike.nameHiking }} {% endblock title %}

{% block body %}

    <div class="container">
        <div class="row ">
            <div class="col-md-4 offset-md-4 border border-dark p-5 mt-5">
                <h1>{{ hike.nameHiking }}</h1>
                <p class="fst-italic">
                    {{ hike.description | nl2br }}
                </p>
                <p>
                    Prix : {{ hike.prix }}
                </p>
                <p  class="fw-light">
                    Places maximum : {{ hike.maxPlaces }}
                </p>
                <p  class="fw-light">
                    Places restantes : A COMPLETER
                </p>
                <select class="form-select" name="hike" id="hike">
                    <option value="session1">Session 1</option>
                    <option value="session2">Session 2</option>
                    <option value="session3">Session 3</option>
                    <option value="session4">Session 4</option>
                </select>
                <a href="#" class="btn btn-primary mt-3">Réserver une place</a>
            </div>
        </div>      
    </div>

{% endblock body %}